.game {
  display: flex;
  justify-content: space-between;
  &-board {
    width: 80%;
  }
  &-info {
    padding: 20px 20px 20px 10px;
    width: 20%;
    color: #fff;
    font-size: 30px;
    button {
      padding: 10px;
      font-size: 20px;
    }
  }
}

.mb30 {
  margin-bottom: 30px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
